openapi: 3.0.1
info:
  title: life-events-deployment
  version: '1.0'
servers:
  - url: https://life-events.integration.account.gov.uk
paths:
  /events/deathNotification:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeathNotification'
      responses:
        '201':
          description: Event accepted
      security:
        - DeathCognitoAuthoriser:
            - EventType/DeathNotification
components:
  schemas:
    DeathNotification:
      type: object
      properties:
        RegistrationID:
          type: integer
          format: int64
          example: 1
        RegistrationType:
          type: integer
          format: int64
          example: 1
        RecordLockedDateTime:
          type: string
          format: date-time
          example: 2023-08-01T14:55:00
        RecordUpdateDateTime:
          type: string
          format: date-time
          example: 2023-08-01T14:59:22
        RecordUpdateReason:
          type: integer
          format: int64
          example: 1
        DeceasedName:
          $ref: '#/components/schemas/DeceasedName'
        DeceasedAliasName:
          type: array
          items:
            $ref: '#/components/schemas/DeceasedName'
        DeceasedAliasNameType:
          type: array
          items:
            type: string
        DeceasedMaidenName:
          type: string
          example: Smith
        DeceasedGender:
          type: integer
          format: int64
          enum:
            - 1
            - 2
            - 9
          example: 2
        DeceasedDeathDate:
          $ref: '#/components/schemas/DeceasedDeathDate'
        PartialMonthOfDeath:
          type: integer
          format: int64
          example: 12
        PartialYearOfDeath:
          type: integer
          format: int64
          example: 2023
        QualifierText:
          type: string
          example: "On or around"
        FreeFormatDeathDate:
          type: string
          example: "Early 2021"
        DeceasedBirthDate:
          $ref: '#/components/schemas/DeceasedBirthDate'
        PartialMonthOfBirth:
          type: integer
          format: int64
          example: 12
        PartialYearOfBirth:
          type: integer
          format: int64
          example: 1964
        FreeFormatBirthDate:
          type: string
          example: "Estimated mid 1960's"
        DeceasedAddress:
          $ref: '#/components/schemas/DeceasedAddress'
    DeceasedName:
      type: object
      properties:
        PersonNameTitle:
          type: string
          example: Ms
        PersonGivenName:
          type: array
          items:
            type: string
        PersonFamilyName:
          type: string
          example: Adams
        PersonNameSuffix:
          type: string
          example: esquire
    DeceasedDeathDate:
      type: object
      properties:
        PersonDeathDate:
          type: string
          format: date
          example: 2023-08-01
        VerificationLevel:
          $ref: '#/components/schemas/VerificationLevel'
    DeceasedBirthDate:
      type: object
      properties:
        PersonBirthDate:
          type: string
          format: date
          example: '1941-03-25'
        VerificationLevel:
          $ref: '#/components/schemas/VerificationLevel'
    DeceasedAddress:
      type: object
      properties:
        Flat:
          type: string
        Building:
          type: string
        Line:
          type: array
          items:
            type: string
        Postcode:
          type: string
    VerificationLevel:
      type: string
      enum:
        - '00'
        - '01'
        - '02'
        - '03'
      example: '03'
  securitySchemes:
    DeathCognitoAuthoriser:
      type: http
      scheme: bearer
      bearerFormat: JWT
