<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m | %mdc %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <springProperty scope="context" name="app" source="spring.application.name"/>

    <springProfile name="dev || stdout">
        <appender name="logAppender" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${LOG_PATTERN}</Pattern>
            </layout>
        </appender>
    </springProfile>

    <springProfile name="!(dev || stdout)">
        <appender name="logAppender" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>${LOG_PATTERN}</Pattern>
            </layout>
        </appender>
    </springProfile>

    <logger name="uk.gov.gdx" additivity="false"
            level="DEBUG">
        <appender-ref ref="logAppender"/>
    </logger>

    <logger name="uk.gov" additivity="false" level="DEBUG">
        <appender-ref ref="logAppender"/>
    </logger>

    <logger name="org.springframework" additivity="false" level="INFO">
        <appender-ref ref="logAppender"/>
    </logger>

    <logger name="org.apache.catalina" additivity="false" level="INFO">
        <appender-ref ref="logAppender"/>
    </logger>

    <logger name="org.springframework.boot" additivity="false" level="INFO">
        <appender-ref ref="logAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="logAppender"/>
    </root>

</configuration>
