---
title: How to consume events
weight: 50
---

# How to consume events
You will first need to generate an access token, as described in [How to generate an access token](how-to-generate-an-access-token).

All requests to the below endpoints must be authorised by including an `Authorization: Bearer <access_token>` header.

<%= inset_text("The following information is also available as <a href=\"https://dev.share-life-events.service.gov.uk/swagger-ui/index.html\">Swagger docs</a>") %>

## Basic procedure
1. Call GET [/events](#list-all-events) to fetch a list of events
2. For each event, call [GET /event/{id}](#get-a-specific-event) to get details of the event
3. Once the event has been successfully processed, call [DELETE /event/{id}](#mark-an-event-as-processed)

## List all events
Calling GET /events will by default return a list of up to 100 events, with the least recent event first. The number of
events returned can be controlled with the `page[size]` parameter. At preset there are no restrictions on the number of
events that can be returned.

api_operation> /events get

## Get a specific event
The fields returned in the `event_data` for an event are determined by the data sharing agreement in place. All permitted
fields will be returned, but may be null. Please contact the GDX team to configure the returned fields for testing.

api_operation> /events/{id} get

## Mark an event as processed

api_operation> /events/{id} delete
