{% extends "../partials/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set pageTitle = applicationName + " - Add acquirer" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <form action="/add-acquirer" method="POST" novalidate>
        {{ govukInput({
            label: {
                text: "What is the name of the client?"
            },
            id: "clientName",
            name: "clientName"
        }) }}

        {{ govukSelect({
            id: "eventType",
            name: "eventType",
            label: {
                text: "What event would you like to recieve notifications for?"
            },
            items: [{
                value: "DEATH_NOTIFICATION",
                text: "DEATH_NOTIFICATION"
            }]
        }) }}

        {{ govukCheckboxes({
            name: "enrichmentFields",
            fieldset: {
                legend: {
                    text: "Which fields would you like to enrich the data with?"
                }
            },
            items: [{
                value: "firstName",
                text: "firstName"
            }, {
                value: "lastName",
                text: "LastName"
            }]
        }) }}

        {{ govukRadios({
            classes: "govuk-radios--inline",
            name: "enrichmentFieldsIncludedInPoll",
            fieldset: {
                legend: {
                    text: "Would you like to recieve these enriched fields when you poll for data?"
                }
            },
            items: [
                {
                    value: true,
                    text: "Yes"
                },
                {
                    value: false,
                    text: "No"
                }
            ]
        }) }}

        {{ govukButton({
            text: "Confirm and send",
            preventDoubleClick: true
        }) }}

    </form>
{% endblock %}
