{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    {{ govukButton({
        text: "Add acquirer",
        href: "/add-acquirer"
    }) }}
    <h1>This site is under construction...</h1>
    <p>Please check back later when there is content to view.</p>

{% endblock %}
