{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    <h1>This site is under construction...</h1>
    <p>Please check back later when there is content to view.</p>

{% endblock %}
