{% extends "../partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set pageTitle = applicationName + " - Acquirer added" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    {% set clientDetails %}
        Client name: {{ clientName }}<br>Client id: {{ clientId }}<br>Client secret: {{ clientSecret }}
    {% endset %}

    {{ govukPanel({
      titleText: "Acquirer added",
      html: clientDetails
    }) }}

{% endblock %}
