{% extends "govuk/template.njk" %}

{% block head %}
    <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>

{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
    {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
    <script src="/assets/govuk/all.js"></script>
    <script src="/assets/govukFrontendInit.js"></script>
{% endblock %}
